<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>게시판</title>
</head>
<body>
    <div class="new_post_btn" onclick="location.href='./create';">새로운 글 생성</div>
    <div class="main_container">
        <div class="header">
            <div class="title">제목</div>
            <div class="date">날짜</div>
        </div>
        <div class="post_list">
            <% post_list.forEach((post) => { %>
                <div class="post_item">
                    <div class="post_title"><%= post.title %></div>
                    <div class="post_date"><%= post.date %></div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>