<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>게시판</title>
</head>
<body>
    <form action="/modify/<%= post[0].id %>" accept-charset="utf-8" name="modify-post" method="post">
        <div class="main_container">
            <input type="text" name="title" class="input_title" placeholder="제목" value="<%= post[0].title %>"/>
            <hr/>
            <textarea cols="112" rows="30" name="detail" class="input_detail" placeholder="내용"><%= post[0].detail %></textarea>
        </div>
        <div class="btn-group">
            <button type="submit"class="post_modify_btn">저장</button>
            <button class="post_delete_btn" onclick="location.href='../../read/<%= post[0].id %>';">취소</button>
        </div>
    </form>
</body>
</html>